@page "/matches"
@model MyApp.Pages.Matches.IndexModel
@{
}
<h1 class= "text-4xl font-extrabold mb-12 tracking-wide">
    Matches
</h1>

<div class="space-y-6"> 
    @foreach (var match in Model.Matches)
    {
        <a href="/matches/@(match.Idmatch)" class="block group no-underline! text-inherit!">
            
            <div class="w-full p-4 rounded-xl shadow-lg bg-linear-to-t from-slate-200 to-slate-100 
                        transition transform duration-300 hover:scale-[1.01] hover:shadow-xl 
                        flex items-center justify-between relative overflow-hidden"> 
                  
                <div class="w-16 h-16 flex items-center justify-center relative z-10 shrink-0">
                    <img src="~/images/@(match.IdhomeNavigation?.Idteam + ".svg")"
                         alt="@match.IdhomeNavigation?.Name logo"
                         class="max-w-full max-h-full object-contain drop-shadow-md" />
                </div>

                <div class="grow text-center mx-4">
                    <span class="text-xl font-bold text-gray-900">
                        @match.IdhomeNavigation?.Name vs @match.IdguestNavigation?.Name 
                    </span>
                    <br />
                    
                    <span class="text-2xl font-extrabold text-blue-700 mt-1 block">
                        @match.Scorehome : @match.Scoreguest
                    </span>
                    
                    <span class="text-sm text-gray-600 block mt-1">
                        @match.Date.ToString("dd MMM yyyy") 
                    </span>
                </div>
                
                <div class="w-16 h-16 flex items-center justify-center relative z-10 shrink-0">
                    <img src="~/images/@(match.IdguestNavigation?.Idteam + ".svg")"
                         alt="@match.IdguestNavigation?.Name logo"
                         class="max-w-full max-h-full object-contain drop-shadow-md" />
                </div>
            </div>
       </a>
    }
</div>